<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <label> <input type="checkbox" v-model="isPurple" /> Purple </label>

      <select v-model="selectedColor">
        <option value="">White</option>
        <option value="text-orange">Orange</option>
        <option value="text-black">Black</option>
      </select>

      <div class="circle" :class="[selectedColor, circles_classes]">Hi!</div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
